.mammals{
    background-color: grey;
    height: 41px;
    width: 700px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
}

.salamander{
    background-color: grey;
    height: 500px;
    width: 700px;
    margin: auto;
    margin-bottom: 10px;
}
.reptiles{
    background-color:grey;
    height: 350px;
    width: 700px;
    margin: auto;
}
.goats{
    background-color: white;
    
}
.cows{
    background-color: white;
    
}
.rabbits{
    background-color: white;
    
}
